# Ignore everything
*

# Allow specific files and folders
!.gitignore
!requirements.txt

# Allow specific folders
!server/
!server/**

!static/
!static/**

!util/
!util/**

# cannot ignore this for firebase page formatting
!firebase.json
